<div class="col-md-4 col-md-offset-1">
    <p style = "font-size: 20px ; text-decoration: underline">Teachers</p>
<div class = "table-tb">
<table class="table table-responsive">
  <thead>
  <tr>
      <th>Name</th>
      <th>Last</th>
      <th>Delete</th>
  </tr>
  </thead>
 <% @teachers.each do |teacher| %>
    <thead>
            <tr> 
                <td><%= link_to teacher.name, teacher%></td>
                <td><%= teacher.last%> </td>
                <td><%= link_to "delete", teacher, method: :delete, data: { confirm: "You sure?" }, class: "btn-primary btn-sm" %> </td>
            </tr>
    </thead>
  <% end %>
 </table>
 </div>    
  <%= link_to "Create Teacher", teacher_new_path, class: "btn-primary btn-lg" %>
 </div>
 
 <div class="col-md-4 col-md-offset-1">
     <p style = "font-size: 20px ; text-decoration: underline">Students</p>
<div class = "table-tb">
 <table class="table table-responsive">
  <thead>
  <tr>
      <th>Name</th>
      <th>Last</th>
      <th>Delete</th>
  </tr>
  </thead>
 <% @users.each do |user| %>
            <thead>
            <tr> 
                <td><%= link_to user.name, user %></td>
                <td><%= user.last_name%> </td>
                <td><%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" }, class: "btn-primary btn-sm" %> </td>
            </tr>
            </thead>
  <% end %>

 </table>
</div>
  <%= link_to "Create Student", new_user_path, class: "btn-primary btn-lg" %>
 </div>
  <div class="col-md-4 col-md-offset-8">
   <%= link_to "Create Principle/Admin", prin_new_path, class: "btn-primary btn-lg" %>
   <%= link_to "Home Page", root_url, class: "btn-primary btn-lg" %>
  </div>
</ul>